{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
    <div class="home-header-container"></div>

    <section class="content-wrap">
        <h1 class="content-title">Siūlomos paslaugos</h1>
        <div class="city-select-wrap">
            <div class="city-wrap">
                <span>Miestas</span>
                <span class="choosen-city">Visi miestai</span>
            </div>
            <button>Pakeisti miestą</button>
        </div>
    </section>
</div>
{% endblock %}
