.login-bg {
  background: url('../../public/images/homepage_header.jpg') /cover no-repeat;
}
.login-container {
  width: 992px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100vh;
  .login-side {
    width: 30%;
    background-color: #e9f6fa;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    h2 {
      font-size: 30px;
      padding: 20px;
      color: #88becc;
    }
    .fb-login {
      background-color: #3c5a99;
      margin: 15px auto;
      padding: 15px;
      width: 80%;
    }
    .google-login {
      background-color: #dc4e40;
      margin: 15px auto;
      padding: 15px;
      width: 80%;
    }

    .login-btn {
      background-color: $main-color;
      border: 2px solid $main-color;
      margin: 40px auto;
      display: inline-block;
      width: 80%;
      padding: 15px;
      font-weight: 600;
    }

    .login-btn:hover {
      background-color: #fff;
      border: 2px solid $main-color;
      color: $main-color;
    }
  }
  .reg-side {
    width: 70%;
    background-color: #fff;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;

    h2 {
      font-size: 30px;
      padding: 20px;
      color: $main-color;
      width: 100%;
    }
    .reg-col {
      width: 50%;
      float: left;
    }
    .be-cleaner {
      width: 100%;
      background-color: $main-color;
      border: 2px solid $main-color;
      float: left;
    }
    .be-cleaner:hover {
      background-color: #fff;
      color: $main-color;
      border: 2px solid $main-color;
    }
    .reg-btn {
      background-color: $main-green;
      margin: 0 auto;
      display: inline-block;
      width: 80%;
      padding: 15px;
      border: 1px solid $main-green;
      font-weight: 600;
    }
    .reg-btn:hover {
      background-color: #fff;
      border: 2px solid $main-green;
      color: $main-green;
    }
  }
}


.seperator-h {
  width: 80%;
  margin: 40px auto;
  border-top: 3px dashed #d2e8ef;
}

.seperator-v {

  //margin: 40px auto;
  border-right: 3px dashed #d2e8ef;

}