<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('styles') }}{% endblock %}
    </head>
    <body>
    {% block navbar %}
        <nav>
            <div class="navbar">
                <div class="navbar-top"></div>
                <div class="container">
                    <a href="#" class="navbar-logo"><img src="images/nevark-logo.png" alt=""></a>
                    <ul class="navbar-links">
                        <li><a href="#">Kaip tai veikia?</a></li>
                        <li><a href="#">Kokybės užtikrinimas</a></li>
                        <li><a href="#">Kaina</a></li>
                        <li><a href="#">Gaukite pasiūlymą</a></li>
                        <li><a href="#">D.U.K.</a></li>
                    </ul>
                    <a href="#" class="navbar-login-btn" id="nav-login">Prisijungti | Registruotis</a>
                </div>
            </div>
        </nav>
    {% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-30">
                    <img src="images/nevark-logo.png" alt="">
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
    {% block javascripts %} {{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
